.blockquote_red {
    margin: 20px 0px;
    padding-left: 0.6rem;
    border-left: 5px solid #FF0000;
    font-family: candara;
    font-style: italic;
    font-size: 14px;
    line-height: 1.6;
}

.blockquote_blue {
    margin: 20px 0px;
    padding-left: 0.6rem;
    border-left: 5px solid #4169E1;
    font-family: candara;
    font-style: italic;
    font-size: 14px;
    line-height: 1.6;
}

.blockquote_green {
    margin: 20px 0px;
    padding-left: 0.6rem;
    border-left: 5px solid #9ACD32;
    font-family: candara;
    font-style: italic;
    font-size: 14px;
    line-height: 1.6;
}

.blockquote_yellow {
    margin: 20px 0px;
    padding-left: 0.6rem;
    border-left: 5px solid #FFD700;
    font-family: candara;
    font-style: italic;
    font-size: 14px;
    line-height: 1.6;
}