<div class="blockquote_red">Testando<br>Blockquote<br>Vermelho</div>

<div class="blockquote_blue">Testando<br>Blockquote<br>Azul</div>

<div class="blockquote_green">Testando<br>Blockquote<br>Verde</div>

<div class="blockquote_yellow">Testando<br>Blockquote<br>Amarelo<div>